<!--div class="container"-->
    <form *ngIf="formGroup" (ngSubmit)='onSubmit()' [formGroup]='formGroup'>
        <div class='container'>
            <ui-input [control]='controls.title' label='Title' placeholder="Do the laundry">
            </ui-input>
        </div>
        <label class="container">Description</label>
        <ckeditor [config]="{placeholder: 'Type the description here!'}" [editor]='editor' [data]='controls.description.value' (change)='ckEditorChange(controls.description, $event)'>
        </ckeditor>
        <div class="container">
            <button mat-raised-button color="primary">Submit</button>
        </div>
    </form>
<!--div-->
