<div class="container">
    <form (ngSubmit)='onSubmit()' [formGroup]='formGroup'>
        <ui-input [control]='controls.title' label='Title' placeholder="Do the laundry">
        </ui-input>
        <br>
        <label>Description</label>
        <ckeditor [config]="{placeholder: 'Type the description here!'}" [editor]='Editor' [data]='controls.description.value' (change)='ckEditorChange(controls.description, $event)'>
        </ckeditor>
        <br>
        <button mat-raised-button color="primary">Submit</button>
    </form>
</div>
