.multiple-card {
    margin-top: 1ex;
}

mat-card.link {
    cursor: pointer;
}

mat-card .delete {
    position: relative;
    top:-1ex;
    float: right;
}

.screen-bottom {
    position: absolute;
    width:100%;
    bottom:0ex;
    left:0ex;
}

.container {
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
    padding: 1ex;
}

button[mat-icon-button] {
    width:38px;
    overflow: clip;
}

.text-right {
    text-align: right;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drop-list-dragging {
    background-color: lightgray;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

