.multiple-card {
    margin-top: 1ex;
}

mat-card.link {
    cursor: pointer;
}

mat-card .delete {
    position: relative;
    top:-1ex;
    float: right;
}

.screen-bottom {
    position: absolute;
    width:100%;
    bottom:0ex;
    left:0ex;
}

.container {
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
    padding: 1ex;
}

.text-right {
    text-align: right;
}
